th {
    text-align: left;
}

select option[disabled][value='']{
    display: none;
}

select option[disabled]:not([value='']) {
    background-color: lightgrey
}

.navbar-brand {
    cursor: pointer;
}

.collapse-control {
    cursor: pointer;
}

.collapse-indicator {
    transition: transform 500ms ease;
}

.collapse-indicator.show {
    transform: rotate(0deg);
}

.collapse-indicator.hide {
    transform: rotate(-90deg);
}

.preview-div {
    height: 400px;
    overflow: auto;
}

div.graph-canvas {
    min-height: 500px;
}

.color-button {
    width: 100%;
    transition: background-color 500ms ease;
    border-radius: 5px;
    padding: 0px;
    cursor: pointer;
    overflow: auto;
    display: block;
    text-align: center;
}

.color-button span {
    transition: color 500ms ease;
}

.color-legend:not(.table) td {
    padding-bottom: 1px;
}

button.color-button span{
    transition: color 500ms ease;
}

